
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p {
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
}



